.last-five-searches-mapper {
    display: flex;
    position: relative;
    top: -40px;
    height: 0px;
    width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    z-index: 80;
    
  
    @media only screen and (max-width : 992px) {
      width: 100%;
      top: -30px;
    }

}

.last-five-searches-mapper__mappingelement {
    width: 100%;
    display: inherit;
    cursor: pointer;
    padding: 11px;
    background-color: rgba(245, 248, 255, 0.695);
    backdrop-filter: blur(2px); 
    &:hover {
        background-color: rgba(0, 0, 255, 0.698);
        backdrop-filter: blur(2px); 
    }
}